.home > * {
  font-family: "Roboto Condensed", sans-serif;
}
.home {
  object-fit: fill;
  object-position: center;
}
@media (min-width: 600px) {
  .home {
    width: 100%;
  }
  .secTitle {
    font-size: 1rem;
    color: rgb(100, 100, 100);
  }
  .title {
    font-size: 1.8rem;
    color: rgb(100, 100, 100);
  }
}
@media (min-width: 768px) {
  .home {
    width: 90%;
    mask-image: radial-gradient(
      ellipse,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: radial-gradient(
      ellipse,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-size: cover;
    -webkit-mask-size: cover;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4) inset;
  }
  .secTitle {
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
  }
  .title {
    font-size: 2.5rem;
    color: rgb(100, 100, 100);
  }
}

@media (min-width: 1024px) {
  .home {
    width: 66.6%;
    mask-image: radial-gradient(
      ellipse,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: radial-gradient(
      ellipse,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-size: cover;
    -webkit-mask-size: cover;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.4) inset;
  }
  .secTitle {
    font-size: 1.5rem;
    color: rgb(100, 100, 100);
  }
  .title {
    font-size: 3.5rem;
    color: rgb(100, 100, 100);
  }
}

.title,
.secTitle {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(100, 100, 100);
}
.readMore {
  background-color: rgba(30, 64, 175, 0.9);
  width: 7rem;
  height: 2.2rem;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0.2rem;
}
